<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_Secret</key>
	<string>cr0A1vMAliz18ZlERFxI6Im3bNYL7PFUVLzdBG2CJ7IenGxpEo</string>
	<key>API_Key</key>
	<string>smUD6MY7mSt0swiDzBMTMQZ0R</string>
</dict>
</plist>
